<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Product App</title>

    <!-- Add your organization's prod import map URL to this script's src  -->
    <script type="systemjs-importmap" src="importmap.json"></script>

    <% if (isLocal) { %>
      <script type="systemjs-importmap">
        {
          "imports": {
            "app1": "http://localhost:3001/dist/remoteEntry.js",
            "app1/": "http://localhost:3001/dist/",
            "app2": "http://localhost:3002/dist/remoteEntry.js",
            "app2/": "http://localhost:3002/dist/"
          }
        }
    </script>
    <% } %>

    <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
    <% if (isLocal) { %>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
    <% } else { %>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
    <% } %>

  </head>
  <body>
    <div class="mui-container">
      <div id="single-spa-application:app1-view1"></div>
      <br><br>
      <div id="single-spa-application:app1-view2"></div>
      <br><br>
      <div id="single-spa-application:app2-view2"></div>
    </div>
  </body>
</html>